@import './Modules.scss';

.appartment {
    margin: 0px 100px 50px 100px;
    display: flex;
    justify-content: space-between;

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin: 0px;
        color: $light-red;
        font-weight: 500;
        font-size: $font-big;
    }

    &__loc {
        font-weight: 500;
        font-size: $font-medium;
        color: $light-black;
        margin: 0px;
    }

    &__tags {
        margin: 20px 0px;
        display: flex;
        gap: 10px;
    }

    &__tag {
        padding: 5px 20px;
        background-color: $light-red;
        border-radius: 10px;
        color: $light-white;
        font-weight: 700;
        font-size: $font-medium--;
    }

    &__host {
        display: flex;
        flex-direction: column;
        width: 180px;
        height: 64px;
    }

    &__name-img {
        display: flex;
    }

    &__name {
        color: $light-red;
        font-weight: 500;
        font-size: $font-medium;
        margin: 10px 10px 10px 30px;
    }

    &__img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }

    &__stars {
        margin-top: 20px;
    }
}

@media (max-width:$layout-breakpoint-medium) {
    .appartment {
        margin: 50px;
    }
}

@media (max-width:$layout-breakpoint-small) {
    .appartment {
        margin: 20px 20px 0px 20px;
        flex-direction: column;
    }

    .appartment__title {
        font-size: $font-medium;
    }

    .appartment__loc {
        font-size: $font-medium--;
    }

    .appartment__tags {
        margin-bottom: 10px;
    }

    .appartment__tag {
        font-size: $font-very-small;
        padding: 5px;
    }

    .appartment__name {
        font-size: $font-small;
        margin: 8px 10px 10px 30px;
    }

    .appartment__img {
        width: 32px;
        height: 32px;
    }

    .appartment__host {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: auto;
        height: auto;
        margin-bottom: 10px;
    }

    .appartment__stars {
        margin: 0;
    }

    .appartment__star {
        height: 18px;
    }
}