@import "./Modules.scss";

// BANNER ABOUT
.background {
    @include margin-desktop;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    background: url("../../assets/images/BackgroundAbout.png");
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #00000040;
}

@media (max-width: $layout-breakpoint-medium) {
    .background {
        margin: 50px 50px 20px 50px;
        height: 170px;
    }
}

@media (max-width: $layout-breakpoint-small) {
    .background {
        @include margin-phone;
        height: 111px;
        border-radius: 10px;
    }
}

// BANNER HOME
.background__img {
    @include margin-desktop;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/src/assets/images/Background.png");
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #00000040;

    &--content {
        font-weight: $weight-big;
        font-size: $font-biger;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.45);
        color: $light-white;
    }
}

@media (max-width: $layout-breakpoint-medium) {
    .background__img {
        @include margin-tablet;
        height: 170px;

        &--content {
            font-size: $font-big;
        }
    }

}

@media (max-width: $layout-breakpoint-small) {
    .background__img {
        @include margin-phone;
        height: 111px;
        border-radius: 10px;

        &--content {
            padding: 0px 15px;
            font-size: $font-large;
        }
    }
}