@import "./Modules.scss";

.background {
    margin: 50px 100px 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    background: url("src/assets/images/BackgroundAbout.png");
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #00000040;
}

@media (max-width: $layout-breakpoint-medium) {
    .background {
        margin: 50px 50px 20px 50px;
        height: 170px;
    }
}

@media (max-width: $layout-breakpoint-small) {
    .background {
        margin: 20px 20px 20px 20px;
        height: 111px;
        border-radius: 10px;
    }
}