@import "./Modules.scss";

.background__img {
    margin: 50px 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("src/assets/images/Background.png");
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #00000040; 

    &--content {
        font-weight: 700;
        font-size: 48px;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.45);
        color: white;
    }
}

 @media (max-width: $layout-breakpoint-medium) {
        .background__img {
            margin: 50px;
            height: 170px;

            &--content {
            font-size: 32px;
            }
        }

    }

@media (max-width: $layout-breakpoint-small) {
        .background__img {
            margin: 20px; 
            height: 111px;

            &--content {
            padding-left: 15px;
            font-size: 24px;
            }
        }
    }