.container {
    height: auto;
    margin: 100px;
    padding: 50px;
    border-radius: 25px;
    margin-top: 50px;
    background-color: rgba(246, 246, 246, 1);
    display: flex;
    flex-wrap: wrap;

    &__cards {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
       gap: 50px;
    }

    &__cards--card {
        width: 340px;
        height: 340px;
        border-radius: 10px;
    }
}