.container {
    height: auto;
    margin: 100px;
    padding: 50px;
    border-radius: 25px;
    margin-top: 50px;
    background-color: rgba(246, 246, 246, 1);
    display: flex;
    flex-wrap: wrap;

    &__cards {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
       gap: 50px;
    }

    &__cards--card {
        display: block;
        width: 340px;
        height: 340px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        object-fit: cover;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__cards--card-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px 15px 15px;
        background: linear-gradient(to top, rgba(0,0,0,0.45), transparent);
    }

    &__cards--card-title {
        color: rgba(255, 255, 255, 1);
        margin: 0;
        font-size: 18px;
        font-weight: bold;
    }
}