@import "./Modules.scss";

.container {
    height: auto;
    margin: 50px 100px 50px 100px;
    padding: 50px;
    border-radius: 25px;
    background-color: $light-grey;
    display: flex;
    flex-wrap: wrap;

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 50px;
    }

    &__cards--card {
        display: block;
        width: 340px;
        height: 340px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        object-fit: cover;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__cards--card-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px 15px 15px;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.45), transparent);
    }

    &__cards--card-title {
        color: $light-white;
        margin: 0;
        font-size: $font-medium;
        font-weight: bold;
    }
}

@media (max-width: $layout-breakpoint-medium) {
    .container {
        margin: 50px;
        padding: 20px 20px;
    }

    .container__cards {
        flex-direction: row;
        justify-content: none;
        gap: 5px;
    }

    .container__cards--card {
        width: 45%;
        height: 290px;
        margin: 15px 0px;
    }
}

@media (max-width: $layout-breakpoint-small) {
    .container {
        margin: 20px;
        padding: 0px;
        flex-direction: column;
        background-color: $light-white;
    }

    .container__cards--card {
        width: 100%;
        height: 255px;
        margin: 5px 0px;
    }
}