@import "./Modules.scss";

// COLLAPSES ABOUT PAGE
.collapses {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: calc(50% - 35%);
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__header {
        overflow: hidden;
        background-color: $light-red;
        border-radius: 5px;
        transition: transform 0.2s ease;
    }

    &__collapse--title {
        color: $light-white;
        font-weight: $weight-big;
        font-size: $font-large;
    }

    &__container--arrows {
        display: flex;
        justify-content: space-between;
        background-color: $light-red;
        padding: 10px;
    }

    &__collapse--title-arrow {
        transition: transform 0.2s ease;
        cursor: pointer;
    }

    &__collapse--title-arrow-open {
        transform: rotate(-180deg);
    }

    &__collapse--title-arrow-content {
        padding: 20px;
        background-color: $light-grey--;
        font-weight: $weight-small;
        font-size: $font-medium;
        color: $light-black;
        margin: 0;
    }
}

@media (max-width: $layout-breakpoint-medium) {
    .collapses {
        margin: 50px 90px 50px 90px;
        width: auto;
    }
}

@media (max-width: $layout-breakpoint-small) {
    .collapses {
        @include margin-phone;
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 60px;
        width: auto;

        &__collapse--title {
            font-size: 14px;
        }

        &__collapse--title-arrow {
            width: 16px;
        }

        &__collapse--title-arrow-content {
            padding: 10px;
            font-size: $font-small;
        }

    }
}

// COLLAPSES APPARTMENT PAGE
.collapses-appartment {
    @include margin-desktop;
    display: flex;
    gap: 75px;

    &__collapse {
        width: 100%;
    }

    &__header {
        overflow: hidden;
        background-color: $light-red;
        border-radius: 10px;
    }

    &__collapse--title {
        color: $light-white;
        font-weight: $weight-big;
        font-size: $font-medium;
        padding: 5px;
    }

    &__container--arrows {
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }

    &__collapse--title-arrow {
        transition: transform 0.2s ease;
        cursor: pointer;
    }

    &__collapse--title-arrow-open {
        transform: rotate(-180deg);
    }

    &__collapse--title-arrow-content-description {
        margin: 0;
        padding: 20px;
        background-color: $light-grey--;
        font-weight: $weight-small;
        font-size: $font-medium;
        color: $light-black;
    }

    &__collapse--title-arrow-content-equipement {
        display: flex;
        gap: 10px;
        flex-direction: column;
        padding: 20px;
        background-color: $light-grey--;
        font-weight: $weight-small;
        font-size: $font-medium;
        color: $light-black;
    }
}

@media (max-width:$layout-breakpoint-medium) {
    .collapses-appartment {
        @include margin-tablet;
        gap: 40px;
    }
}

@media (max-width:$layout-breakpoint-small) {
    .collapses-appartment {
        @include margin-phone;
        flex-direction: column;
        gap: 20px;
    }

    .collapses-appartment__container--arrows {
        margin: 8px 10px;
    }

    .collapses-appartment__collapse--title {
        font-size: $font-small;
        padding: 0px;
    }

    .collapses-appartment__collapse--title-arrow {
        height: 16px;
        width: 16px;
    }

    .collapses-appartment__collapse--title-arrow-content-description {
        padding: 10px;
        font-size: $font-small;
    }

    .collapses-appartment__collapse--title-arrow-content-equipement {
        padding: 10px;
        font-size: $font-small;
        gap: 5px;
    }
}