@import "./Modules.scss";

.collapses {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: calc(50% - 35%);
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__collapse {
        height: 54px;
        background-color: $light-red;
        border-radius: 5px;
    }

    &__collapse--title {
        margin: 10px 20px 10px 15px;
        color: $light-white;
        font-weight: 700;
        font-size: 24px;
    }

    &__collapse--title-arrow {
        position: absolute;
        margin-left: calc(60% + 50px);
        transition: transform 0.2s ease;
        cursor: pointer;
    }

    &__collapse--title-arrow-open {
        transform: rotate(-180deg);
    }

    &__collapse--open {
        margin-bottom: 100px;
    }

    &__collapse--title-arrow-content {
        padding: 20px;
        height: auto;
        width: auto;
        background-color: $light-grey--;
        font-weight: 400px;
        font-size: 18px;
        color: rgba(0, 0, 0, 1);
    }
}

@media (max-width: $layout-breakpoint-medium) {
    .collapses {
        margin: 50px 90px 50px 90px;
        width: auto;
    }

    .collapses__collapse--open {
        margin-bottom: 180px;
    }

    .collapses__collapse--title-arrow {
        margin-left: 70%;
        }
}

@media (max-width: $layout-breakpoint-small) {
    .collapses {
        margin: 20px 20px;
        gap: 20px;
        width: auto;

        &__collapse {
            height: 40px;
        }

        &__collapse--open {
            margin-bottom: 160px;
        }

        &__collapse--title {
            margin: 10px 10px 5px 15px;
            font-size: 14px;
        }

        &__collapse--title-arrow {
            margin-left: calc(70%);
            margin-right: 50px;
        }

        &__collapse--title-arrow-content {
            padding: 10px;
            font-size: 12px;
        }

    }
}