.collapses {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: calc(50% - 35%);
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__collapse {
        height: 54px;
        background-color: rgba(255, 96, 96, 1);
        border-radius: 5px;
    }

    &__collapse--title {
        margin: 10px 20px 10px 15px;
        color: rgba(255, 255, 255, 1);
        font-weight: 700;
        font-size: 24px;
    }

    &__collapse--title-arrow {
        position: absolute;
        margin-left: 1250px;
        transition: transform 0.2s ease;
        cursor: pointer;
    }

    &__collapse--title-arrow-open {
        transform: rotate(-180deg);
    }

    &__collapse--open {
        margin-bottom: 100px;
    }

    &__collapse--title-arrow-content {
        padding: 20px;
        height: auto;
        width: auto;
        background-color: rgba(246, 246, 246, 0.45);
        font-weight: 400px;
        font-size: 18px;
        color: rgba(0, 0, 0, 1);
    }
}