@import './Modules.scss';

.collapses-property {
    margin: 50px 100px 50px 100px;
    display: flex;
    align-items: center;
    gap: 75px;

    &__collapse {
        width: 100%;
        height: 54px;
        background-color: $light-red;
        border-radius: 10px;
    }

    &__collapse--title {
        color: $light-white;
        font-weight: 700;
        font-size: 18px;
        padding: 5px;
    }

    &__container--arrows {
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }

    &__collapse--title-arrow {
        transition: transform 0.2s ease;
        cursor: pointer;
    }

    &__collapse--title-arrow-open {
        transform: rotate(-180deg);
    }

    &__collapse--title-arrow-content-description {
        padding: 20px;
        height: auto;
        width: auto;
        background-color: $light-grey--;
        font-weight: 400px;
        font-size: 18px;
        color: $light-black;
    }

    &__collapse--title-arrow-content-equipement {
        display: flex;
        gap: 10px;
        flex-direction: column;
        padding: 20px;
        background-color: $light-grey--;
        font-weight: 400px;
        font-size: 18px;
        color: $light-black;
    }
}

@media (max-width:$layout-breakpoint-medium) {
    .collapses-property {
        margin: 50px;
        gap: 40px;
    }
}

@media (max-width:$layout-breakpoint-small) {
    .collapses-property {
        margin: 0px 20px 20px 20px;
        flex-direction: column;
        gap: 20px;
    }

    .collapses-property__collapse {
        height: 30px;
    }

    .collapses-property__collapse--title {
        font-size: 12px;
        padding: 0px;
    }

    .collapses-property__collapse--title-arrow {
        height: 16px;
        width: 16px;
    }

    .collapses-property__collapse--title-arrow-content-description {
        padding: 10px;
        font-size: 12px;
    }

    .collapses-property__collapse--title-arrow-content-equipement {
        padding: 10px;
        font-size: 12px;
        gap: 5px;
    }
}
