@import "./Modules.scss";

.collapses {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: calc(50% - 35%);
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__collapse {
        height: 54px;
        background-color: $light-red;
        border-radius: 5px;
    }

    &__collapse--title {
        color: $light-white;
        font-weight: 700;
        font-size: $font-large;
    }

    &__container--arrows {
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }

    &__collapse--title-arrow {
        transition: transform 0.2s ease;
        cursor: pointer;
    }

    &__collapse--title-arrow-open {
        transform: rotate(-180deg);
    }

    &__collapse--open {
        margin-bottom: 140px;
    }

    &__collapse--title-arrow-content {
        padding: 20px;
        height: auto;
        width: auto;
        background-color: $light-grey--;
        font-weight: 400px;
        font-size: $font-medium;
        color: $light-black;
    }
}

@media (max-width: $layout-breakpoint-medium) {
    .collapses {
        margin: 50px 90px 50px 90px;
        width: auto;
    }

    .collapses__collapse--open {
        margin-bottom: 180px;
    }
}

@media (max-width: $layout-breakpoint-small) {
    .collapses {
        margin: 20px 20px;
        gap: 20px;
        width: auto;

        &__collapse {
            height: 40px;
        }

        &__collapse--open {
            margin-bottom: 130px;
        }

        &__collapse--title {
            font-size: 14px;
        }

        &__collapse--title-arrow {
            width: 16px;
        }

        &__collapse--title-arrow-content {
            padding: 10px;
            font-size: $font-small;
        }

    }
}