@import './Modules.scss';

.collapses-appartment {
    @include margin-desktop;
    display: flex;
    gap: 75px;

    &__collapse {
        width: 100%;
        height: 54px;
        background-color: $light-red;
        border-radius: 10px;
    }

    &__collapse--title {
        color: $light-white;
        font-weight: 700;
        font-size: $font-medium;
        padding: 5px;
    }

    &__collapse--open {
        margin-bottom: 170px;
    }

    &__container--arrows {
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }

    &__collapse--title-arrow {
        transition: transform 0.2s ease;
        cursor: pointer;
    }

    &__collapse--title-arrow-open {
        transform: rotate(-180deg);
    }

    &__collapse--title-arrow-content-description {
        padding: 20px;
        height: auto;
        width: auto;
        background-color: $light-grey--;
        font-weight: 400px;
        font-size: $font-medium;
        color: $light-black;
    }

    &__collapse--title-arrow-content-equipement {
        display: flex;
        gap: 10px;
        flex-direction: column;
        padding: 20px;
        background-color: $light-grey--;
        font-weight: 400px;
        font-size: $font-medium;
        color: $light-black;
    }
}

@media (max-width:$layout-breakpoint-medium) {
    .collapses-appartment {
        @include margin-tablet;
        gap: 40px;
    }

    .collapses-appartment__collapse--open {
        margin-bottom: 210px;
    }
}

@media (max-width:$layout-breakpoint-small) {
    .collapses-appartment {
        @include margin-phone;
        flex-direction: column;
        gap: 20px;
    }

    .collapses-appartment__collapse {
        height: 30px;
    }

    .collapses-appartment__collapse--open {
        margin-bottom: 120px;
    }

    .collapses-appartment__collapse--title {
        font-size: $font-small;
        padding: 0px;
    }

    .collapses-appartment__collapse--title-arrow {
        height: 16px;
        width: 16px;
    }

    .collapses-appartment__collapse--title-arrow-content-description {
        padding: 10px;
        font-size: $font-small;
    }

    .collapses-appartment__collapse--title-arrow-content-equipement {
        padding: 10px;
        font-size: $font-small;
        gap: 5px;
    }
}
