@import "./Modules.scss";

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;

    &__404 {
        color: $light-red;
        font-weight: $weight-big;
        font-size: 288px;
        margin: 0;
    }

    &__404--p {
        font-weight: $weight-medium;
        font-size: $font-big;
        color: $light-red;
    }

    &__404--p-a {
        font-weight: $weight-medium;
        font-size: $font-medium;
        color: $light-black;
    }
}

@media (max-width: $layout-breakpoint-medium) {
    .error__404 {
        font-size: 188px;
    }

    .error__404--p {
        font-size: $font-large;
    }
}

@media (max-width: $layout-breakpoint-small) {
    .error {
        margin: 50px 20px;
    }

    .error__404 {
        margin: 50px 0px;
        font-size: 96px;
    }

    .error__404--p {
        margin: 50px 20px 50px 60px;
        font-size: $font-medium;
    }

    .error__404--p-a {
        margin: 50px 0px;
        font-size: $font-medium--;
    }
}