@import "./Modules.scss";

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 210px;
    background-color: rgba(0, 0, 0, 1);

    &__content {
        color: white;
        font-weight: 500;
        font-size: 24px;
    }
}

@media (max-width: $layout-breakpoint-small) {
    .footer__content {
        font-size: 12px;
    }
}