@import "./Modules.scss";

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 210px;
    background-color: $light-black;

    &__content {
        color: $light-white;
        font-weight: $weight-medium;
        font-size: $font-large;
    }
}

@media (max-width: $layout-breakpoint-small) {
    .footer__content {
        font-size: $font-small;
    }
}