@import "./Modules.scss";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    @include margin-desktop;

    &__logo {
        height: 68px;
        width: auto;
    }

    &__content {
        margin-left: 57px;
        text-decoration: none;
        font-size: $font-large;
        font-weight: 500;
        color: $light-black;
    }

    &__content:hover {
        text-decoration: underline;
    }
}

@media (max-width: $layout-breakpoint-medium) {
    .navbar {
        @include margin-tablet;
    }
}

@media (max-width: $layout-breakpoint-small) {
    .navbar {
        @include margin-phone;


        .navbar__logo {
            width: 145px;
            height: 45px;
        }

        .navbar__content {
            font-size: $font-small;
            margin: 0px 5px;
        }
    }
}