// MEDIA QUERIES MEDIUM (PC PORTABLE/TABLETTE)
$layout-breakpoint-medium: 1024px;
// MEDIA QUERIES SMALL (TABLETTE/PHONE)
$layout-breakpoint-small: 767.98px;
// COLORS !
$light-white: rgba(255, 255, 255, 1);
$light-grey: rgba(246, 246, 246, 1);
$light-grey--:rgba(246, 246, 246, 0.45);
$light-black: rgba(0, 0, 0, 1);
$light-red: rgba(255, 96, 96, 1);