// MEDIA QUERIES MEDIUM (PC PORTABLE/TABLETTE)
$layout-breakpoint-medium: 1024px;
// MEDIA QUERIES SMALL (TABLETTE/PHONE)
$layout-breakpoint-small: 767.98px;
// COLORS 
$light-white: rgba(255, 255, 255, 1);
$light-grey: rgba(246, 246, 246, 1);
$light-grey--:rgba(246, 246, 246, 0.45);
$light-black: rgba(0, 0, 0, 1);
$light-red: rgba(255, 96, 96, 1);
// FONT SIZE 
$font-biger: 48px;
$font-big: 36px;
$font-big--: 32px;
$font-large: 24px;
$font-medium: 18px;
$font-medium--: 14px;
$font-small: 12px;
$font-very-small: 10px;
// FONT WEIGHT
$weight-big: 700;
$weight-medium: 500;
$weight-small: 400;
// FONT FAMILY 
$font-Montserrat: 'Montserrat', sans-serif;
// MIXIN
@mixin margin-desktop {
    margin: 50px 100px;
}
@mixin margin-tablet {
    margin: 50px;
}
@mixin margin-phone {
    margin: 20px;
}
