body {
    padding: 100px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    
    .navbar__logo {
        height: 68px;
        width: auto;
    }

    &__content {
        margin-left: 57px;
        text-decoration: none;
        font-size: 24px;
        font-weight: 500;
        color: #000000;
    }

    &__content:hover {
        text-decoration: underline;
    }
}
