.background__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 220px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("src/assets/images/Background.png");
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #00000040; 

    .background__img--content {
        font-weight: 700;
        font-size: 48px;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.45);
        color: white;
    }
}